<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669046747176-754eouo8sqo1bfgvssbmnf5uq33cggof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669046747176-754eouo8sqo1bfgvssbmnf5uq33cggof</string>
	<key>API_KEY</key>
	<string>AIzaSyBf7XDYftsaxtm_AMaQIPdAS3_uPvFW2gg</string>
	<key>GCM_SENDER_ID</key>
	<string>669046747176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.markManager</string>
	<key>PROJECT_ID</key>
	<string>markmanager-70ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>markmanager-70ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669046747176:ios:e2a5d66f9946ef3c5b851d</string>
</dict>
</plist>